*.csv
*.xlsx
*.xls
*.docx
*.pdf
*.htm
*.html
*.txt
*.pptx
*.png
*.json
*.pkl
*.feather
*.exe
*.pyc
*.xml
*.mp4
*.wav
*.geojson
chrome-data/
selenium/
credentials.py
BasicPython/env/
.ipynb_checkpoints/
.virtual_documents/