*.csv
*.xlsx
*.xls
*.docx
*.pdf
*.htm
*.html
*.txt
*.pptx
*.png
*.json
*.pkl
*.feather
*.exe
*.pyc
*.xml
*.mp4
*.wav
*.jpg
*.xz
*.geojson
chrome-data/
selenium/
credentials.py
pwd.py
BasicPython/env/
.ipynb_checkpoints/
.virtual_documents/
*.code-workspace
!basic_python/*.jpg
!basic_python/*.png
!basic_python/*.pdf
!basic_python/*.csv
!basic_python/*.xlsx